.hero{
    background-color: #FFB8CA;
    background-size: cover;
    height: 502px;
    position: relative;
    overflow: hidden;
}
 .hero-block-navigation{
     position: absolute;
     z-index: 100;
 }

.hero-title{
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 1.15;
letter-spacing: 0.04em;
text-transform: uppercase;
font-family: "Titan One", sans-serif;
color: #ffffff;}

.hero-title-span{
    font-size: 48px;
    line-height: 0.97;
    color: #D41443;
}

.hero-container {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
      margin-left: auto;
      margin-right: auto;}

    .hero-fact{
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: "Titan One";
        color: #ffffff;  
    }

    .button-dark {
        font-family: 'DM Sans';
        color: #ffffff;
        background-color: #D41443;
        border-radius: 20px;
        align-items: center;
        text-align: center;}

      
        .button-dark:hover {
          color: #ffffff;
          background-color: #c7133e;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
      
    .hero-button{
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 1.25;
        padding: 8px 15px 8px 15px;
        border: transparent;
        margin-top: 20px;
    }

    .hero-button:last-child{
        margin-left: 8px;
    }

      .button-light {
        font-family: 'DM Sans', sans-serif;
        color: #D41443;
        background-color: #ffffff;
        border-radius: 20px;
        align-items: center;
        text-align: center;}
        
        .button-light:hover {
          color: #D41443;
          background-color: #ecebeb;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

        .hero-image-icecream{
            position: absolute;
            z-index:2;
        }

        .hero-image-ellipse{
            position: absolute;
            z-index:1;}

@media screen and (max-width: 767px){

    .hero-block-more, 
    .hero-block-facts,
    .hero-image-girl{
        display: none;
    }

    .hero-block-navigation{
        top:30%;
        left:5%}

    .hero-image-icecream{
        bottom: -2px;
       right: 32px;
    }

    .hero-image-ellipse{
       top: 75px;
       right: 0px;
    }}
 
@media screen and (min-width: 768px){

    .hero{
        height: 399px;}

    .hero-container{
    min-width: 768px;
    padding-left: 77px;
    padding-right: 97px;}

    .hero-title{
    font-size: 22px;
    line-height: 1.13;}
    
    .hero-title-span{
        font-size: 34px;
        line-height: 0.91;}

.hero-block-navigation{
    top: 23%;;
    left: 5%;}

.hero-block-more{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    left: 34px;
}

.text-more{
    display: block;
    width: 114px;
    text-align: left;
}

.hero-text{
font-family: "DM Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 1.5;
margin-top: 10px;
color: #ffff;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-color: transparent;
}

.hero-text:hover{
    cursor: pointer;
    text-decoration-color: blue;
}

    .hero-image-icecream{
        bottom: -3px;
       right: 32%;
    }

    .hero-image-ellipse{
       top: 10%;
       right: 22%;}

    .hero-image-girl{
        position: absolute;
        bottom: -3px;
        right: 34px;
        z-index:3;
    }
    .hero-block-facts{
        position: absolute;
        top: 94px;
        right: 34px;
    }

.hero-fact{
    font-family: "DM Sans";
    font-size: 8px;
    line-height: 1.25;
    text-transform: lowercase;
    text-align: right;
    color: #ffff;
}

.hero-fact-span{
    position: relative;
    font-family: "Titan One";
    font-size: 28px;
    line-height: 1.14; 
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:#D41443;}

.hero-fact-span::before{
    position: relative;
    display:block;
    content:"";
    width:16px;
    height:16px;
    background-color:#ffff;
    border-radius: 50%;
    top:16px;
    left: 34px;}

@media screen and (min-width: 1200px){
    .hero{
        height: 665px;
        max-width: 1280px;
    }

    .hero-title{
        font-size: 38px;
        line-height: 1.16;}
        
        .hero-title-span{
            font-size: 58px;
            line-height: 0.91;}
    
    .hero-block-navigation{
        top:150px;
        left: 9%;}
    
    .hero-block-more{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 29px;
        left: 34px;
    }
    
    .text-more{
        display: block;
        width: 200px;
        font-size: 14px;
        line-height: 1.4;
    }
    .hero-image-icecream{
        bottom: -3px;
       right: 450px;
    }

    .hero-image-ellipse{
       top: 50px;
       right: 260px;}

    .hero-image-girl{
        bottom: -3px;
        right: 9%;
    }
    .hero-block-facts{
        position: absolute;
        top: 94px;
        right: 97px;
}
.hero-fact{
    font-size: 14px;
    line-height: 1.28;}
 

.hero-fact-span{
    position: relative;
    font-size: 46px;
    line-height: 1.15; 
    letter-spacing: 0.04em;}


    .hero-fact-span::before{
        position: relative;
        display:block;
        content:"";
        width:30px;
        height:30px;
        background-color:#ffff;
        border-radius: 50%;
        top:27px;
        left: 60px;}
    }}