.hero{
    background-color: #FFB8CA;
    background-size: cover;
    height: 502px;
    min-width: 320px;
    position: relative;
    overflow: hidden;
}
 .hero-block-navigation{
     position: absolute;
     z-index: 100;
 }

.hero-title{
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 1.15;
letter-spacing: 0.04em;
text-transform: uppercase;
font-family: "Titan One", sans-serif;
color: #ffffff;}

.hero-title-span{
    font-size: 48px;
    line-height: 0.97;
    color: #D41443;
}

.container {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
      margin-left: auto;
      margin-right: auto;}

    .hero-fact{
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: "Titan One", sans-serif;
        color: #ffffff;  
    }

    .button-dark {
        font-family: 'DM Sans', sans-serif;
        color: #ffffff;
        background-color: #D41443;
        border-radius: 20px;
        align-items: center;
        text-align: center;}

      
        .button-dark:hover {
          color: #ffffff;
          background-color: #c7133e;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
      
    .hero-button{
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 1.25;
        padding: 8px 15px 8px 15px;
        border: transparent;
        margin-top: 20px;
    }

    .hero-button:last-child{
        margin-left: 8px;
    }

      .button-light {
        font-family: 'DM Sans', sans-serif;
        color: #D41443;
        background-color: #ffffff;
        border-radius: 20px;
        align-items: center;
        text-align: center;}
        
        .button-light:hover {
          color: #D41443;
          background-color: #ecebeb;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

        .hero-image-icecream{
            position: absolute;
            z-index:2;
        }

        .hero-image-ellipse{
            position: absolute;
            z-index:1;

        }

@media screen and (max-width: 767px){

    .hero-block-more, 
    .hero-block-facts,
    .hero-image-girl{
        display: none;
    }

    .hero-block-navigation{
        top:30%;
        left:5%}

    .hero-image-icecream{
        bottom: 0px;
       right: 20%;
    }

    .hero-image-ellipse{
       top: 23%;
       left:15%;
    }
 
@media screen and (min-width: 768px) and (max-width: 1199px){
    .container{
    min-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
}

.hero-block-more, 
.hero-block-facts,
.hero-image-girl{
    display: block;
    position: absolute;
}


}

/* 
@media screen and (min-width: 1200px){
    width: 1200px;
    padding-left: 114px;
    padding-right: 114px
} */